    <!-- Contribute Section -->
    <section id="contribute" class="content-section text-center">
        <div class="contribute-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contribute</h2>
                    <p>Stay tuned in the coming weeks for more information. </p>
                    
                    
<h4>Developers</h4>

<p>If you want more information about how to join the community and contribute please see our <a href="https://coprhd.atlassian.net/wiki/display/COP/Getting+started+guide+for+developers">wiki</a></p>



<h4>Users</h4>

<p>If you just want to download and use the software, please follow the directions on this <a href="https://coprhd.atlassian.net/wiki/display/COP/Getting+started+guide+for+users">page</a></p>


                    <a href="https://github.com/CoprHD" class="btn btn-default btn-lg">Github</a>
                </div>
            </div>
        </div>
    </section>
