    <!-- Contribute Section -->
    <section id="contribute" class="content-section text-center">
        <div class="contribute-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contribute</h2>
                    <p>You can contribute to CoprHD.</p>
                    
                    
<h3>Developers</h3>

<p>If you want more information about how to join the community and contribute please see our <a href="https://coprhd.atlassian.net/wiki/display/COP/Getting+started+guide+for+developers">wiki</a></p>

<h3>Users</h3>

<p>If you just want to download and use the software, please follow the directions on this <a href="https://coprhd.atlassian.net/wiki/display/COP/Getting+started+guide+for+users">page</a></p>


                    <a href="https://github.com/CoprHD" class="btn btn-default btn-lg">Visit out Github Page</a>
                </div>
            </div>
        </div>
    </section>
