    <!-- Contribute Section -->
    <section id="license" class="content-section text-center">
        <div class="license-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>License</h2>
                    <p>CoprHD will be made available under the Apache License, Version 2.0 (ALv2) license model.  
                    	 To learn more about it, <a href="https://coprhd.atlassian.net/wiki/display/COP/Licenses"> click here </a>
                    
                </div>
            </div>
        </div>
    </section>
