    <!-- Contribute Section -->
    <section id="license" class="content-section text-center">
        <div class="license-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>License</h2>
                    <p>CoprHD will be made available under the Mozilla Public License (MPL) 2.0 license model.  
                    	 To learn more about it, <a href="https://coprhd.atlassian.net/wiki/download/attachments/1671182/License.docx?version=1&modificationDate=1433539637101&api=v2"> click here </a>
                    
                </div>
            </div>
        </div>
    </section>
